/* Variables */
$main-font: 'Josefin Sans', sans-serif;
$body-font: Quando;
$primary-dark: #324360;
$accent-blue: #35c4ce;
$footer-bg: #eaf2ff;
$text-gray: #787878;
$link-gray: #989898;
$black-hover: #111111;

/* Mixins */
@mixin transition-standard($time: .20s) {
    transition: $time;
}

@mixin flex-center-layout {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Base Styles */
body {
    font-family: $body-font;
    font-size: 15px;
    color: $text-gray;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin-bottom: 25px;
    line-height: 1.6em;
}

a {
    font-weight: 400;
    text-decoration: none;
    color: $black-hover;
    @include transition-standard;

    &:hover {
        color: #999999;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: $main-font;
    font-weight: 400;
    line-height: 1.3em;
    word-wrap: break-word;
    color: $black-hover;
}

h1 { font-size: 37px; }
h2 { font-size: 31px; }
h3 { font-size: 26px; }
h4 { font-size: 21px; }
h5 { font-size: 18px; }
h6 { font-size: 15px; }

.container {
    width: 94%;
    margin: 0 auto;
}

/* Header and Navigation */
header {
    font-family: $main-font;
    
    nav ul {
        display: none;
    }
}

.top-logo {
    width: 200px;
    margin: 20px auto 40px;
}

/* Posts and Articles */
article {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;

    .post-title {
        margin-top: 0;
        
        a {
            color: $primary-dark;
            text-transform: uppercase;
            font-size: 26px;
            font-weight: 900;
            margin-top: 15px;
            margin-bottom: 15px;
            line-height: 1.3em;
            @include transition-standard(0.3s);

            &:hover {
                color: $accent-blue;
            }
        }
    }
}

.image-part {
    margin-bottom: 10px;
}

/* Footer Section */
footer {
    padding: 30px 0;
    text-align: center;
    background: $footer-bg;
    color: $link-gray;

    #footer a {
        color: $link-gray;
        
        &:hover {
            color: $black-hover;
        }
    }
}

.footer-logo {
    width: 200px;
    margin: 20px auto;
    text-align: center;
}

.footer-social-links {
    padding: 20px 0;
    line-height: 2em;

    a {
        margin: 0 10px;
        font-size: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $link-gray;

        &:hover {
            color: $black-hover;
        }

        span {
            display: none;
        }
    }
}

#footer-copyright {
    padding: 20px 0;
    font-size: 12px;
    color: $link-gray;
}

/* Responsive Design */
@media only screen and (min-width: 650px) {
    .container {
        width: 90%;
    }

    header nav {
        max-width: 1170px;
        margin: 0 auto;
        @include flex-center-layout;
        height: 60px;

        ul {
            display: flex;

            li {
                margin: 0 15px;
                position: relative;
                line-height: 24px;

                &.menu-item-has-children > a::after {
                    margin-left: 7px;
                    font-family: 'Font Awesome 5 Free';
                    font-size: 13px;
                    color: $primary-dark;
                    content: '\f078';
                }

                &:hover ul {
                    visibility: visible;
                    opacity: 1;
                }
            }

            /* Sub-menu */
            ul {
                visibility: hidden;
                opacity: 0;
                display: block;
                position: absolute;
                z-index: 9999;
                left: 0;
                background: #f0f0f0;
                transition: all 0.2s ease-out;

                li {
                    border-top: 1px solid #e9e9e9;
                    margin: 0;
                }

                a {
                    display: block;
                    color: #111111;
                    min-width: 175px;
                    margin: 0;
                    padding: 20px 10px;
                    line-height: 1.4em;
                    letter-spacing: 1px;

                    &:hover {
                        background: #ffffff;
                        color: #000;
                    }
                }
            }
        }

        a {
            font-family: $main-font;
            color: $primary-dark;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 900;

            &:hover {
                color: $accent-blue;
            }
        }
    }

    .current-menu-item a {
        border-bottom: 2px solid $primary-dark;
    }

    .image-part {
        flex: 1;
        overflow: hidden;
        margin-bottom: 0;

        img {
            transition: transform 3.5s ease-in-out;
            &:hover {
                transform: scale(1.5, 1.5);
            }
        }
    }

    .content-part {
        flex: 1;
        padding-left: 50px;
    }

    .footer-social-links a {
        margin: 0 28px;
        span {
            display: inline;
            font-size: 11px;
        }
    }
}